<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="index.html" class="navbar-brand ">
                <span class="logo">
                    <strong>Tamazight-NLU</strong><span class="handwriting">....</span><br />
                    <small>Natural language  Understanding/Processing </small>
                </span>
            </a>

        </div>
        <partial name="_menu" />
    </div>
</nav>
