@{
    ViewData["Title"] = "Contact";
}
<div class="jumbotron home-search" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br />
                <h2 class="main_description"> Contact </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <address>
                <strong>Mail:</strong> <a href=mailto:a-lakhdar@live.fr">a-lakhdar@live.fr</a><br />
                <strong>GitHub:</strong> <a href="https://github.com/tamazight-nlu">https://github.com/tamazight-nlu</a>
            </address>
            </div>
        </div>
    </div>
